<launch>
  <include file="$(find project11_simulation)/launch/sim_local.launch">
    <arg name="backgroundChart" value="$(find camp)/workspace/19367/19367_1.KAP"/>
  </include>
  <param name="/asv_sim/current_speed" value="0.0"/>
  <param name="/asv_sim/platforms/ben/start_heading" value="240.0"/>
  <param name="/asv_sim/platforms/ben/start_lat" value="21.31456"/>
  <param name="/asv_sim/platforms/ben/start_lon" value="-157.87999"/>
</launch>
